# Project Goal: Find and learn basics of ML algorithm not presented in class

By completing this project I hope to show future employers than I had the skills to find, learn, and apply knowledge in domain specific areas using this tools I gained at Codeup.

# Market Basket Analysis

**Market Basket Analysis** is one of the key techniques used by large retailers to uncover associations between items. It works by looking for combinations of items that occur together frequently in transactions. To put it another way, it allows retailers to identify relationships between the items that people buy.

Association Rules are widely used to analyze retail basket or transaction data and are intended to identify strong rules discovered in transaction data using measures of interestingness, based on the concept of strong rules.

**Apriori** is an algorithm for frequent itemset mining and association rule learning over relational databases. It proceeds by identifying the frequent individual items in the database and extending them to larger and larger item sets as long as those item sets appear sufficiently often in the database. The frequent itemsets determined by Apriori can be used to determine association rules which highlight general trends in the database: this has applications in domains such as market basket analysis.

**An example of Association Rules**   
Assume there are 100 customers   
10 of them bought milk, 8 bought butter and 6 bought both of them.   
bought milk => bought butter   
support = P(Milk & Butter) = 6/100 = 0.06   
confidence = support/P(Butter) = 0.06/0.08 = 0.75   
lift = confidence/P(Milk) = 0.75/0.10 = 7.5

Note: this example is extremely small. In practice, a rule needs the support of several hundred transactions, before it can be considered statistically significant, and datasets often contain thousands or millions of transactions.

**Some important terms**:   
**Support**: This says how popular an itemset is, as measured by the proportion of transactions in which an itemset appears.   
**Confidence**: This says how likely item Y is purchased when item X is purchased, expressed as {X -> Y}. This is measured by the proportion of transactions with item X, in which item Y also appears.   
**Lift**: This says how likely item Y is purchased when item X is purchased while controlling for how popular item Y is.
Source: https://www.kaggle.com/heeraldedhia/groceries-dataset

### Why?

I found this open source dataset on Kaggle. This interested me because I'm interested in working for HEB (Texas based grocery company). This looked like a way to potentially gain some experience with a ML algorithm common to this industry that is outside of the ML algorithms covered in the curriculum.

# Plan

Find more info on what an Apirori algorithm is, what the inputs are, and how to use and evaluate the algorithm.

exobrain:  
https://www.geeksforgeeks.org/apriori-algorithm/?ref=lbp  
https://www.geeksforgeeks.org/frequent-item-set-in-data-set-association-rule-mining/?ref=lbp  
had to find specific dataset used in this example to understand how prep process was encoding data

https://analyticsindiamag.com/beginners-guide-to-understanding-apriori-algorithm-with-implementation-in-python/  
above is python 2.7 only, did not work

# Acquire / Prep

Used `pip to install apriori`, this did not work, apriori installed, but get error message when importing.  
Discovered that install is for Python 2.7, instead found`pip install efficient-apriori` for Python 3.

However the tutorial I found used mlxtend instead and will try that.

In [1]:
import pandas as pd
import numpy as np
# import efficient_apriori as apriori

from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
# start with dataset from tutorial, see if I can replicate results to understand examples provided
df = pd.read_excel('Online_Retail.xlsx')


# side note: store_data.csv is for python 2.7 example and does not work
# side note: Groceries_dataset.csv and retail_dataset.csv are tables where each row is a transaction
# but each row is just list of items purchased, one unique item per column, with lots of null values

In [3]:
df.sample(25)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
336602,566396,22197,POPCORN HOLDER,12,2011-09-12 12:51:00,0.85,14292.0,United Kingdom
407976,571920,22066,LOVE HEART TRINKET POT,2,2011-10-19 16:16:00,0.39,14799.0,United Kingdom
283818,561806,23202,JUMBO BAG VINTAGE LEAF,10,2011-07-29 14:55:00,2.08,12839.0,United Kingdom
540472,581492,23439,HAND WARMER RED LOVE HEART,1,2011-12-09 10:03:00,4.13,NaN,United Kingdom
93756,544309,22956,36 FOIL HEART CAKE CASES,48,2011-02-17 14:17:00,1.85,15785.0,United Kingdom
213384,555538,21294,ETCHED GLASS COASTER,24,2011-06-05 12:39:00,0.39,14512.0,United Kingdom
269015,560434,47593B,SCOTTIE DOGS BABY BIB,1,2011-07-18 15:56:00,0.83,NaN,United Kingdom
301565,563347,23106,ZINC HEARTS PLANT POT HOLDER,8,2011-08-15 13:46:00,2.89,16961.0,United Kingdom
42760,540021,22946,WOODEN ADVENT CALENDAR CREAM,1,2011-01-04 12:51:00,16.95,17841.0,United Kingdom
535717,581217,22798,ANTIQUE GLASS DRESSING TABLE POT,3,2011-12-08 09:20:00,5.79,NaN,United Kingdom
477663,577068,M,Manual,30,2011-11-17 14:50:00,0.30,15563.0,United Kingdom
325033,565430,21892,TRADITIONAL WOODEN CATCH CUP GAME,2,2011-09-04 13:07:00,1.25,14335.0,Germany
88634,543810,21363,HOME SMALL WOOD LETTERS,1,2011-02-13 14:16:00,4.95,13171.0,United Kingdom
382303,569898,35964,FOLKART CLIP ON STARS,2,2011-10-06 16:08:00,0.83,NaN,United Kingdom
432877,573897,82581,TOILET METAL SIGN,1,2011-11-01 14:29:00,0.55,16729.0,United Kingdom
522285,580395,22509,SEWING BOX RETROSPOT DESIGN,4,2011-12-04 10:56:00,3.95,17629.0,United Kingdom
163674,550621,22907,PACK OF 20 NAPKINS PANTRY DESIGN,4,2011-04-19 13:41:00,0.85,13263.0,United Kingdom
142717,548631,22595,GINGHAM HEART DECORATION,5,2011-04-01 12:24:00,0.85,13184.0,United Kingdom
8505,537137,82600,NO SINGING METAL SIGN,2,2010-12-05 12:43:00,2.10,16327.0,United Kingdom
37841,539484,22636,CHILDS BREAKFAST SET CIRCUS PARADE,4,2010-12-19 15:44:00,8.50,15640.0,United Kingdom
304680,C563600,22301,COFFEE MUG CAT + BIRD DESIGN,-1,2011-08-18 06:24:00,2.55,14911.0,EIRE
459741,575875,90003D,CRYSTAL PAIR HEART HAIR SLIDES,1,2011-11-11 13:06:00,3.73,NaN,United Kingdom
201979,554348,22606,WOODEN SKITTLES GARDEN SET,4,2011-05-24 08:49:00,12.75,13523.0,United Kingdom
136803,547987,21928,JUMBO BAG SCANDINAVIAN BLUE PAISLEY,10,2011-03-29 09:11:00,1.95,17428.0,United Kingdom
306525,563764,21531,RED RETROSPOT SUGAR JAM BOWL,2,2011-08-19 11:15:00,2.55,14606.0,United Kingdom

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [5]:
df.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

In [6]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
# The apriori algorithm will not need the customerID column for processing
# there are 4372 unique customer IDs, one of which isnull
# dropping this column for now
adf = df.drop(columns='CustomerID')
adf.isnull().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
Country           0
dtype: int64

In [8]:
# drop 1454 rows with null product descriptios, that is small amount compared to over 500,000 total rows
adf = adf.dropna(axis=0)

In [9]:
adf.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
Country        0
dtype: int64

In [10]:
adf.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom

In [11]:
# Split the data according to region, for this exercise will pick 2 regions France and Portugal
# note UK was elminated because kernel kept crashing when processed, maybe issue with size

# Transactions done in France 
basket_France = (adf[adf['Country'] == "France"] 
          .groupby(['InvoiceNo', 'Description'])['Quantity'] 
          .sum().unstack().reset_index().fillna(0).set_index('InvoiceNo')) 

# Transactions done in Portugal 
basket_Por = (adf[adf['Country'] =="Portugal"] 
          .groupby(['InvoiceNo', 'Description'])['Quantity'] 
          .sum().unstack().reset_index().fillna(0) 
          .set_index('InvoiceNo'))

# Transactions done in the United Kingdom 
# basket_UK = (adf[adf['Country'] =="United Kingdom"] 
#           .groupby(['InvoiceNo', 'Description'])['Quantity'] 
#           .sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))

In [12]:
# this is to help me visualize how my data is now organized
basket_France.sample(10)

Description,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,NINE DRAWER OFFICE TIDY,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,TRELLIS COAT RACK,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
542535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
562207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
579193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
567552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
554826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
557483,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
556529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
547722,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
577295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C579562,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# Defining the hot encoding function to make the data suitable  
# for the concerned libraries 
def hot_encode(x): 
    if(x<= 0): 
        return 0
    if(x>= 1): 
        return 1

**Key Take Away**

From my understanding this going to be used to set any quantity less than or equal to 0 to the value 0 and any quantity greater than or equal to 1 to the value of 1.

This is an interesting note because it means the quantity of any unique item is not relevant to the algorithm, only the individual occurance of an item with another, not how many of an item with another.

In [14]:
# Encoding the datasets 
basket_encoded = basket_France.applymap(hot_encode) 
basket_France = basket_encoded 

basket_encoded = basket_Por.applymap(hot_encode) 
basket_Por = basket_encoded

# basket_encoded = basket_UK.applymap(hot_encode) 
# basket_UK = basket_encoded

In [15]:
# this is to help me visualize how my data is now organized
basket_France.head()

Description,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,NINE DRAWER OFFICE TIDY,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,TRELLIS COAT RACK,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536370,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537065,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Explore

The next stage is to expolre and create visualizations from our data. 

Because the focus of this project is learning the algorithm and not analyzing this dataset I am moving directly to the Modeling Stage instead.

# Modeling

In [16]:
# Building the model: France
frq_items_France = apriori(basket_France, min_support = 0.05, use_colnames = True) 
  
# Collecting the inferred rules in a dataframe 
rules_France = association_rules(frq_items_France, metric ="lift", min_threshold = 1) 
rules_France = rules_France.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules_France.head()
# Note: this list appears to be sorted by convicton

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
24,(JUMBO BAG WOODLAND ANIMALS),(POSTAGE),0.065076,0.650759,0.065076,1.000000,1.536667,0.022727,inf
184,"(SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...",(SET/6 RED SPOTTY PAPER PLATES),0.086768,0.108460,0.084599,0.975000,8.989500,0.075188,35.661605
186,"(SET/20 RED RETROSPOT PAPER NAPKINS , SET/6 RE...",(SET/6 RED SPOTTY PAPER CUPS),0.086768,0.117137,0.084599,0.975000,8.323611,0.074435,35.314534
192,"(SET/6 RED SPOTTY PAPER CUPS, POSTAGE, SET/20 ...",(SET/6 RED SPOTTY PAPER PLATES),0.071584,0.108460,0.069414,0.969697,8.940606,0.061650,29.420824
193,"(SET/20 RED RETROSPOT PAPER NAPKINS , POSTAGE,...",(SET/6 RED SPOTTY PAPER CUPS),0.071584,0.117137,0.069414,0.969697,8.278339,0.061029,29.134490

In [17]:
# Building the model: Portugal
frq_items = apriori(basket_Por, min_support = 0.05, use_colnames = True) 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()
# Note: this list appears to be sorted by convicton

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
62,(LUNCH BAG ALPHABET DESIGN),(CHARLOTTE BAG VINTAGE ALPHABET ),0.056338,0.056338,0.056338,1.0,17.75,0.053164,inf
63,(CHARLOTTE BAG VINTAGE ALPHABET ),(LUNCH BAG ALPHABET DESIGN),0.056338,0.056338,0.056338,1.0,17.75,0.053164,inf
190,(LUNCH BAG VINTAGE LEAF DESIGN),(JUMBO BAG VINTAGE LEAF),0.056338,0.056338,0.056338,1.0,17.75,0.053164,inf
191,(JUMBO BAG VINTAGE LEAF),(LUNCH BAG VINTAGE LEAF DESIGN),0.056338,0.056338,0.056338,1.0,17.75,0.053164,inf
598,"(LUNCH BAG DOILEY PATTERN , LUNCH BAG RED RETR...",(JUMBO BAG DOILEY PATTERNS),0.056338,0.056338,0.056338,1.0,17.75,0.053164,inf

In [18]:
# frq_items = apriori(basket_UK, min_support = 0.01, use_colnames = True) 
# rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
# rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
# print(rules.head())

# Evaluate Results

#### Conclusions from the tutorial
**FRANCE**   
From the above output, it can be seen that paper cups and paper and plates are bought together in France. This is because the French have a culture of having a get-together with their friends and family atleast once a week. Also, since the French government has banned the use of plastic in the country, the people have to purchase the paper -based alternatives.

**Portugal**   
On analyzing the association rules for Portuguese transactions, it is observed that Tiffin sets (Knick Knack Tins) and colour pencils. These two products typically belong to a primary school going kid. These two products are required by children in school to carry their lunch and for creative work respectively and hence are logically make sense to be paired together.

**NOTE:** The information I found for evaluating the results from this algorithm focused on lift and confidence as the "interesting" or useful measures. So far I have not found a resource the explains why the default order of the rules is conviction and if this means that conviction is a better or higher priorty metric.  

#### Additional source to interpret metrics
https://www.zaxrosenberg.com/wp-content/uploads/2018/02/Association-Rule-Learning.pdf   
**NOTE:** This also introduces algorithm FP-Growth which it says is better for large datasets.   
For the purposes of this project we will not be exploring that algorithm at this time.  

Time on project to this point = 5 hours

# Possible Next Steps

- alter support parameter and evaluate results
- repeat steps with different dataset
- add conclusions

In [ ]:
# this changes the null values to 0, maybe will help with hot encoding better?
df.fillna(0, inplace=True)

In [ ]:
df.head()

In [ ]:
encodedf = df[['itemDescription']]

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(encodedf).transform(encodedf)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)
df_encoded

In [ ]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.6)

In [ ]:
# store_data.csv is a dataset where each row is a transaction and lists the items
# walking through example using info at: 
# https://stackabuse.com/association-rule-mining-via-apriori-algorithm-in-python/
# need better understanding of how to manipulate other datasets into this format for the algorithm

In [ ]:
# apriori requires a list of lists and not a panadas dataframe
records = []
for i in range(0, 7501):
    records.append([str(df.values[i,j]) for j in range(0, 20)])

In [ ]:
records

In [ ]:
# remove nulls from list
no_null = list(filter(None, records))
no_null

In [ ]:
# Let's suppose that we want rules for only those items that are purchased at least 5 times a day, 
# or 7 x 5 = 35 times in one week, since our dataset is for a one-week time period. The support for those
# items can be calculated as 35/7500 = 0.0045. The minimum confidence for the rules is 20% or 0.2. 
# Similarly, we specify the value for lift as 3 and finally min_length is 2 since we want at least two 
# products in our rules.

# association_rules = apriori.apriori(records, min_support=0.0045, min_confidence=0.2)
# association_results = list(association_rules)
# print(association_rules[0])

In [ ]:
itemsets, rules = apriori.apriori(records, min_support=0.0045,  min_confidence=0.2)
print(rules)

In [ ]:
# Print out every rule with 2 items on the left hand side,
# 1 item on the right hand side, sorted by lift
rules_rhs = filter(lambda rule: len(rule.lhs) == 2 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs, key=lambda rule: rule.lift):
  print(rule) # Prints the rule and its confidence, support, lift, ...